BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: true
Cpp11BracedListStyle: false
BinPackArguments: false
BinPackParameters: false
InsertTrailingCommas: Wrapped
InsertNewlineAtEOF: true
LineEnding: LF
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
