build/
*.o
*.elf
*.hex
*.profraw
*.profdata
*.gcda
*.gcno
__pycache__/
.ruff_cache/
node_modules/
.coverage
core
core.*
docs/
.DS_Store
**/.DS_Store

specs/
!.vscode/
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/extensions.json
